<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1>All Corgis</h1>
    <% for(var i in data) {%>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Type of Corgi</th>
                <th>Options</th>
            </tr>
            <tr>
                <td>
                    <a href="/corgi/<%=data[i].id%>"><%=data[i].name%></a>
                </td>
                <td>
                    <p><%=data[i].age%></p>
                </td>
                <td>
                    <p><%=data[i].type%></p>
                </td>
                <td>
                    <a href="/edit/<%=data[i].id%>">Edit</a> 
                    <form action="/delete/<%=data[i].id%>" method='POST'>
                        <button>delete</button>
                    </form>
                </td>
            </tr>
        </table>
    <% } %>

    <a href="/new">Add New Animal!</a>
</body>
</html>